<div class="row">
  <div class="col-md-6">
  {% include 'nav.html' %}
    <img src="/static//team.jpg" class="card-img-top" style="height:320px;border-radius:4px;">
    <div class="card">

      <h5 class="card-title">Manager At Reloca</h5>

      <ul>
        <li>
            <a href="https://www.linkedin.com/in/robert-kimaiyo-9ab814220/" target="_blank">Robert Kimaiyo</a>
        </li>
        <h3>CEO => Reloca </h3>
      </ul>
      <p class="card-text">At Reloca Managing School, we understand that the world is rapidly evolving, and so are the needs of our students.<br />
        Our cutting-edge online learning platform offers a comprehensive curriculum that is designed to meet<br />
         the highest educational standards while fostering creativity, critical thinking, and collaboration..</p>
      <a href="#" class="btn btn-primary stretched-link"></a>
    </div>
  </div>  {% include 'footer.html' %}
</div>
